
@media screen and (max-width: 2560px) and (max-height: 1600px){
	.CircularPercentage{
		position:relative;
		display:flex;
		width: 7vw;
		height: 12vh;
		top:10%;
		left:81.5%;
	}
}

@media screen and (max-width: 1920px) and (max-height: 1080px){
	.CircularPercentage{
		position:relative;
		display:flex;
		width: 10vw;
		height: 12vh;
		top:12%;
		left:77.8%;
	}
}

@media screen and (max-width: 1600px) and (max-height: 900px){
	.CircularPercentage{
		position:relative;
		display:flex;
		width: 10vw;
		height: 12vh;
		top:12%;
		left:78%;
	}
}

@media screen and (max-width: 1536px) and (max-height: 864px){
	.CircularPercentage{
		position:relative;
		display:flex;
		width: 10vw;
		height: 12vh;
		top:12%;
		left:78.5%;
	}
}


@media screen and (max-width: 1440px) and (max-height: 900px){
	.CircularPercentage{
		position:relative;
		display:flex;
		width: 10vw;
		height: 11vh;
		top:14%;
		left:78%;
	}
}

@media screen and (max-width: 1366px) and (max-height: 768px){
	.CircularPercentage{
		position:relative;
		display:flex;
		width: 10vw;
		height: 12vh;
		top:12%;
		left:77%;
	}
}



@media screen and (max-width: 1280px) and (max-height: 720px){
	.CircularPercentage{
		position:relative;
		display:flex;
		width: 10vw;
		height: 12vh;
		top:12%;
		left:77.5%;
	}
}