.DetailReport{
	position: relative;
	width:100%;
}

.DetailReport th{
	padding:8px 8px 8px 8px;
	text-align: left;
}

.DetailReport td{
	padding:4px 4px 4px 8px;
	text-align: left;
}

.DetailReportHeaderDark th, 
.DetailReportHeaderDark td{
	color:white;
}

.DetailReportHeaderLight th, 
.DetailReportHeaderLight td{
	color:#181825;
}

@media screen and (max-width: 1920px) and (max-height: 1080px){
	
	.DetailReport th{
		font-size:19px;
	}
	
	.DetailReport td{
		font-size:17px;
	}
	
	.DetailReport .tdDescriptionDark, 
	.DetailReport .tdDescriptionLight{
		text-align: justify;
		padding-left:10px;
		padding-right:10px;
	}

	.IdentifiedImageDark, 
	.IdentifiedImageLight{
		background: transparent;
		border: none !important;
	}

	.IdentifiedImageLocationDark, 
	.IdentifiedImageLocationLight{
		background: transparent;
		border: none !important;
	}

	.iconIdentifiedImageDark{
		color: white;
		cursor: pointer;
	}

	.iconIdentifiedImageLight{
		color: #181825;
		cursor: pointer;
	}

	.iconIdentifiedImageLocationDark{
		color: white;
		cursor: pointer;
	}

	.iconIdentifiedImageLocationLight{
		color: #181825;
		cursor: pointer;
	}

	.DetailReportDark td{
		background-color: #5b5d5f;
		color:white;
	}

	.DetailReportLight td{
		background-color:#6bb7da;
		color: #181825;
	}
	
	.DetailReportDark .tdIdentifiedImageDark, 
	.DetailReportDark .tdIdentifiedImageLocationDark{
		text-align: center;
		padding-left:0px;
	}

	.DetailReportLight .tdIdentifiedImageLight, 
	.DetailReportLight .tdIdentifiedImageLocationLight{
		text-align: center;
		padding-left:0px;
	}
}

@media screen and (max-width: 1366px) and (max-height: 768px){

	.DetailReport th{
		font-size:16px;
	}
	
	.DetailReport td{
		font-size:15px;
	}
	
	.IdentifiedImageDark, 
	.IdentifiedImageLight{
		background: transparent;
		border: none;
	}

	.IdentifiedImageLocationDark, 
	.IdentifiedImageLocationLight{
		background: transparent;
		border: none;
	}

	 .iconIdentifiedImageDark{
		position:relative;
		color: white;
		cursor: pointer;
	}

	 .iconIdentifiedImageLight{
		position:relative;
		color: #181825;
		cursor: pointer;
	}

	 .iconIdentifiedImageLocationDark{
		color: white;
		cursor: pointer;
	}

	 .iconIdentifiedImageLocationLight{
		color: #181825;
		cursor: pointer;
	}
	
	.DetailReportDark td{
		background-color:rgb(74, 82, 88);
		color:white;
	}

	.DetailReport .tdDescriptionDark, 
	.DetailReport .tdDescriptionLight{
		text-align: justify;
	}

	.DetailReportLight td{
		background-color:#6bb7da;
		color: #181825;
	}
	
	.DetailReportDark .tdIdentifiedImageDark, 
	.DetailReportDark .tdIdentifiedImageLocationDark{
		text-align: center;
		cursor: pointer;
	}

	.DetailReportLight .tdIdentifiedImageLight, 
	.DetailReportLight .tdIdentifiedImageLocationLight{
		text-align: center;
		cursor: pointer;
	}
}

