.IdentificationsContainer{
	position:absolute;
	left:-2%;
	width:100%;
	text-align: center;
	top:0%;
}

.modal-backdrop{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(57, 62, 70, 0.85);
	z-index: 1;
}

.modalOuterLight{
	background-color: #017ca5;
}

.modalOuterDark{
	background-color: #5b5d5f;
}

.lblHeadingDark{
    color:white;
}

.lblHeadingLight{
    color:#181825;
}
.modalGetPredictionsHeaderLight{
	border-bottom: 3px solid #046281;
	background-color: #017ca5;
}

.modalGetPredictionsHeaderDark{
	border-bottom:3px solid #434547;
	background-color: #5b5d5f;
}

.modalOuterDark .iconGetIdentificationsError, 
.modalOuterLight .iconGetIdentificationsError{
	color:rgb(218, 2, 2);
}

.modalOuterDark .lblGetIdentificationsErrorLight{
	color:#181825;
}
	
.modalOuterDark .lblGetIdentificationsErrorDark{
	color:white;
}

.modalDataLight{
	background-color: #91dcff;
	border-bottom: 3px solid #046281;
}

.modalDataDark{
	background-color: #828586;
	border-bottom:3px solid #434547;
}

.IdentificationListOuterLight{
	background-color: #6cb7fd;
	box-shadow: 4px 4px 6px rgb(25, 138, 182);
}

.IdentificationListOuterDark{
	background-color: #495358;
	box-shadow: 4px 4px 6px rgb(34,40,49)
}

.lblReferencePlantNameLight{
	color:#181825;
}

.lblReferencePlantNameDark{
	color:white;
}

.ReferencePlantNameLight{
	background-color: #91dcff;
	color:#181825;
}	

.ReferencePlantNameDark{
	background-color: #797c80;
	color:white;
}

.lblDescriptionLight{
	color:#181825;
}	

.lblDescriptionDark{
	color:white;
}

.DescriptionLight{
	background-color: #91dcff;
	color:#181825;
}

.DescriptionDark{
	background-color: #797c80;
	color:white;
}

.saveIdentificationsDarkEnabled,
.closeIdentificationsDark{
	color:white;
	background-color: #5795f1;
}

.saveIdentificationsDarkDisabled{
	color: rgb(104, 110, 110);
	background-color: #5795f1;
	cursor:auto;
}

.saveIdentificationsLightEnabled  {
	color:white;
	background-color: #2cc583;
}

.saveIdentificationsLightDisabled{
	color: rgb(104, 110, 110);
	background-color: #2cc583;
	cursor:auto;
}
	
.closeIdentificationsLight:hover, 
.saveIdentificationsLightEnabled:hover{
	background-color: #2e854c;
}

.closeIdentificationsDark:hover, 
.saveIdentificationsDarkEnabled:hover{
	background-color: #1b6eeb;
}

.closeModalDark{
	background-color: #5b5d5f;
	color:white;
}

.closeModalLight{
	color:#181825;
	background-color: #017ca5;
}

.closeModalDark:hover{
	background-color: #434547;
}

.closeModalLight:hover{
	background-color: #0479a0;
}

@media screen and (max-width: 2560px) and (max-height: 1600px){
    
    .modalGetPredictionsHeaderDark, 
    .modalGetPredictionsHeaderLight{
        position:relative;
        width:100%;
        height:60px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }
        
    .lblHeadingDark,
    .lblHeadingLight{
        font-size: 42px;
        font-weight: bold;
        padding-top:2px;
        text-align: center;
    }
        
    .modalOuterDark, 
    .modalOuterLight{
        display:inline-flexbox;
        height: 95%;
        top:0%;
        width:50%;
        position: relative;
        left:23%;
        border-radius: 15px;
    }	
        
    .modalOuterDark .iconGetIdentificationsError, 
    .modalOuterLight .iconGetIdentificationsError{
        position: relative;
        left:46%;
        top:26vh;
    }
    
    .modalOuterDark .lblGetIdentificationsErrorDark, 
    .modalOuterLight .lblGetIdentificationsErrorLight{
        position: relative;
        font-size: 22px;
        text-align: center;
        top:25vh;
    }
        
    .modalDataDark, 
    .modalDataLight{
        position: relative;
        height:80%;
        overflow-y:auto;
    }
    
    .Identifications{
        position:relative;
        top:-1.5vh;
    }
    
    .modalData ul{ 
        position: relative;
        overflow-y: scroll;
    }
    
    .IdentificationListOuterDark, 
    .IdentificationListOuterLight{
        position:relative;
        height:14.5vh;
        border-radius:10px;
        width:95%;
        list-style-type: none;
        margin-left:2.5%;
        margin-top: 4vh;
    }
    
    .lblReferencePlantNameDark, 
    .lblReferencePlantNameLight{
        position: absolute;
        left:24%;
        top:-2%;
        font-size: 22px;
        font-weight: bold;
    }	
    
    .Score{
        position:relative;
        top:5vh;
    }
    
    .ReferencePlantNameDark, 
    .ReferencePlantNameLight{
        position: absolute;
        width:43%;
        left:35%;
        top:-2%;
        font-size: 22px;
        padding:4px 7px 4px 7px;
        border-radius:4px;
        text-align: left;
    }	
    
    .lblDescriptionDark, 
    .lblDescriptionLight{
        position: absolute;
        left:24%;
        text-align: right;
        top:23%;
        font-size: 22px;
        font-weight: bold;
    }	
    
    .DescriptionDark, 
    .DescriptionLight{
        position: absolute;
        left:35%;
        top:23%;
        height:61%;
        font-size: 22px;
        padding:4px 7px 4px 7px;
        border-radius:4px;
        width:43%;
        text-align: justify;
        overflow:auto;
    }
    
    .ThumbnailPlantImage{
        position: absolute;
        left:1%;
        top:0.8vh;
        width:20%;
        height:90%;
        border-radius: 15px;
    }
    
    .saveIdentificationsDarkEnabled, 
    .saveIdentificationsDarkDisabled, 
    .saveIdentificationsLightEnabled, 
    .saveIdentificationsLightDisabled,
    .closeIdentificationsDark,
    .closeIdentificationsLight{
        position:relative;
        cursor:pointer;
        top:-5%;
        border: none;
        padding: 4px 4px 4px 4px;
        border-radius: 40px;	
        height:3%;
        width:10%;
        font-size: 24px;
    }
    
    .saveIdentificationsDarkEnabled,
    .saveIdentificationsDarkDisabled,
    .saveIdentificationsLightEnabled,
    .saveIdentificationsLightDisabled{
        left:74%;
    }
    
    .closeIdentificationsDark,
    .closeIdentificationsLight{
        left:76%;
    }
    
    .closeModalDark, 
    .closeModalLight{
        position:absolute;
        top: 0.5%;
        left:96.5%;
        font-size: 26px;
        border: none;
        cursor: pointer;
    }
}

@media screen and (max-width: 2560px) and (max-height: 1440px){
    
    .modalGetPredictionsHeaderDark, 
    .modalGetPredictionsHeaderLight{
        position:relative;
        width:100%;
        height:60px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }
    
    .modalDataDark, 
    .modalDataLight{
        position: relative;
        height:78%;
        overflow-y:auto;
    }

    .lblHeadingDark,
    .lblHeadingLight{
        font-size: 42px;
        font-weight: bold;
        padding-top:2px;
        text-align: center;
    }

    .IdentificationListOuterDark, 
    .IdentificationListOuterLight{
        position:relative;
        height:14.5vh;
        border-radius:10px;
        width:95%;
        list-style-type: none;
        margin-left:2.5%;
        margin-top: 3.8vh;
    }

    .saveIdentificationsDarkEnabled, 
	.saveIdentificationsDarkDisabled, 
	.saveIdentificationsLightEnabled, 
	.saveIdentificationsLightDisabled,
	.closeIdentificationsDark,
	.closeIdentificationsLight{
		position:relative;
		cursor:pointer;
		top:-3.5%;
		border: none;
		padding: 4px 4px 4px 4px;
		border-radius: 40px;	
		height:3%;
		width:10%;
		font-size: 22px;
		
	}

}

@media screen and (max-width: 1920px) and (max-height: 1200px){
	
	.modalOuterDark, 
	.modalOuterLight{
		display:inline-flexbox;
		height: 95%;
		top:0%;
		width:50%;
		position: relative;
		left:23%;
		border-radius: 15px;
	}	
	
    .modalGetPredictionsHeaderDark, 
    .modalGetPredictionsHeaderLight{
        position:relative;
        width:100%;
        height:60px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }
    
    .lblHeadingDark{
        font-size: 38px;
        color:white;
        padding-top:6px;
        text-align: center;
    }
    
    .modalOuterDark .iconGetIdentificationsError, 
	.modalOuterLight .iconGetIdentificationsError{
		position: relative;
		left:46%;
		top:26vh;
	}

	.modalOuterDark .lblGetIdentificationsErrorDark, 
	.modalOuterLight .lblGetIdentificationsErrorLight{
		position: relative;
		font-size: 22px;
		text-align: center;
		top:25vh;
	}
	
	.modalDataDark, 
	.modalDataLight{
		position: relative;
		height:70%;
		overflow-y:auto;
	}

	.Identifications{
		position:relative;
		top:-1.5vh;
	}

	.modalData ul{ 
		position: relative;
		overflow-y: scroll;
	}

	.IdentificationListOuterDark, 
	.IdentificationListOuterLight{
		position:relative;
		height:15.5vh;
		border-radius:10px;
		width:95%;
		list-style-type: none;
		margin-left:2.5%;
		margin-top: 5.5vh;
	}


    .lblReferencePlantNameDark, 
	.lblReferencePlantNameLight{
		position: absolute;
		left:24%;
		top:-2%;
		font-size: 18px;
		font-weight: bold;
	}	

	.ReferencePlantNameDark, 
	.ReferencePlantNameLight{
		position: absolute;
		width:43%;
		left:36%;
		top:-2%;
		font-size: 18px;
		padding:4px 7px 4px 7px;
		border-radius:4px;
		text-align: left;
	}	

	.lblDescriptionDark, 
	.lblDescriptionLight{
		position: absolute;
		left:24%;
		text-align: right;
		top:23%;
		font-size: 18px;
		font-weight: bold;
	}	

	.DescriptionDark, 
	.DescriptionLight{
		position: absolute;
		left:36%;
		top:23%;
		height:61%;
		font-size: 18px;
		padding:4px 7px 4px 7px;
		border-radius:4px;
		width:43%;
		text-align: justify;
		overflow:auto;
	}

	.ThumbnailPlantImage{
		position: absolute;
		left:1%;
		top:0.8vh;
		width:20%;
		height:90%;
		border-radius: 15px;
	}

	.saveIdentificationsDarkEnabled, 
	.saveIdentificationsDarkDisabled, 
	.saveIdentificationsLightEnabled, 
	.saveIdentificationsLightDisabled,
	.closeIdentificationsDark,
	.closeIdentificationsLight{
		position:relative;
		cursor:pointer;
		top:-3%;
		border: none;
		padding: 4px 4px 4px 4px;
		border-radius: 40px;	
		height:3%;
		width:10%;
		font-size: 18px;
		
	}

	.saveIdentificationsDarkEnabled,
	.saveIdentificationsDarkDisabled,
    .saveIdentificationsLightEnabled,
	.saveIdentificationsLightDisabled{
	    left:74%;
	}

	.closeIdentificationsDark,
    .closeIdentificationsLight{
	    left:76%;
	}

	.closeModalDark, 
	.closeModalLight{
		position:absolute;
		top: 0.5%;
		left:96.5%;
		font-size: 26px;
		border: none;
		cursor: pointer;
	}
}


@media screen and (max-width: 1920px) and (max-height: 1080px){
	
	.modalOuterDark, 
	.modalOuterLight{
		display:inline-flexbox;
		height: 95%;
		top:0%;
		width:50%;
		position: relative;
		left:23%;
		border-radius: 15px;
	}	
	
    .modalGetPredictionsHeaderDark, 
    .modalGetPredictionsHeaderLight{
        position:relative;
        width:100%;
        height:60px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }
    
    .lblHeadingDark{
        font-size: 38px;
        color:white;
        padding-top:6px;
        text-align: center;
    }
    
    .modalOuterDark .iconGetIdentificationsError, 
	.modalOuterLight .iconGetIdentificationsError{
		position: relative;
		left:46%;
		top:26vh;
	}

	.modalOuterDark .lblGetIdentificationsErrorDark, 
	.modalOuterLight .lblGetIdentificationsErrorLight{
		position: relative;
		font-size: 22px;
		text-align: center;
		top:25vh;
	}
	
	.modalDataDark, 
	.modalDataLight{
		position: relative;
		height:70%;
		overflow-y:auto;
	}

	.Identifications{
		position:relative;
		top:-1.5vh;
	}

	.modalData ul{ 
		position: relative;
		overflow-y: scroll;
	}

	.IdentificationListOuterDark, 
	.IdentificationListOuterLight{
		position:relative;
		height:15.5vh;
		border-radius:10px;
		width:95%;
		list-style-type: none;
		margin-left:2.5%;
		margin-top: 6vh;
	}


    .lblReferencePlantNameDark, 
	.lblReferencePlantNameLight{
		position: absolute;
		left:24%;
		top:-2%;
		font-size: 16px;
		font-weight: bold;
	}	

	.Score{
		position:relative;
		top:5vh;
	}

	.ReferencePlantNameDark, 
	.ReferencePlantNameLight{
		position: absolute;
		width:43%;
		left:35%;
		top:-2%;
		font-size: 15px;
		padding:4px 7px 4px 7px;
		border-radius:4px;
		text-align: left;
	}	

	.lblDescriptionDark, 
	.lblDescriptionLight{
		position: absolute;
		left:24%;
		text-align: right;
		top:23%;
		font-size: 16px;
		font-weight: bold;
	}	

	.DescriptionDark, 
	.DescriptionLight{
		position: absolute;
		left:35%;
		top:23%;
		height:61%;
		font-size: 15px;
		padding:4px 7px 4px 7px;
		border-radius:4px;
		width:43%;
		text-align: justify;
		overflow:auto;
	}

	.ThumbnailPlantImage{
		position: absolute;
		left:1%;
		top:0.8vh;
		width:20%;
		height:90%;
		border-radius: 15px;
	}

	.saveIdentificationsDarkEnabled, 
	.saveIdentificationsDarkDisabled, 
	.saveIdentificationsLightEnabled, 
	.saveIdentificationsLightDisabled,
	.closeIdentificationsDark,
	.closeIdentificationsLight{
		position:relative;
		cursor:pointer;
		top:-4.5%;
		border: none;
		padding: 4px 4px 4px 4px;
		border-radius: 40px;	
		height:3%;
		width:10%;
		font-size: 16px;
		
	}

	.saveIdentificationsDarkEnabled,
	.saveIdentificationsDarkDisabled,
    .saveIdentificationsLightEnabled,
	.saveIdentificationsLightDisabled{
	    left:74%;
	}

	.closeIdentificationsDark,
    .closeIdentificationsLight{
	    left:76%;
	}

	.closeModalDark, 
	.closeModalLight{
		position:absolute;
		top: 0.5%;
		left:96.5%;
		font-size: 26px;
		border: none;
		cursor: pointer;
	}
}




@media screen and (max-width: 1600px) and (max-height: 900px){
    
    .modalGetPredictionsHeaderDark, 
    .modalGetPredictionsHeaderLight{
        position:relative;
        width:100%;
        height:40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }
        
    .lblHeadingDark,
    .lblHeadingLight{
        font-size: 28px;
        font-weight: bold;
        padding-top:2px;
        text-align: center;
    }

    .lblReferencePlantNameDark, 
	.lblReferencePlantNameLight{
		position: absolute;
		left:24%;
		top:-2%;
		font-size: 15px;
		font-weight: bold;
	}	

	.ReferencePlantNameDark, 
	.ReferencePlantNameLight{
		position: absolute;
		width:42%;
		left:36%;
		top:-2%;
		font-size: 15px;
		padding:4px 7px 4px 7px;
		border-radius:4px;
		text-align: left;
	}	

	.lblDescriptionDark, 
	.lblDescriptionLight{
		position: absolute;
		left:24%;
		text-align: right;
		top:23%;
		font-size: 15px;
		font-weight: bold;
	}	

	.DescriptionDark, 
	.DescriptionLight{
		position: absolute;
		left:36%;
		top:23%;
		height:61%;
		font-size: 15px;
		padding:4px 7px 4px 7px;
		border-radius:4px;
		width:42%;
		text-align: justify;
		overflow:auto;
	}

	

    .closeModalDark, 
	.closeModalLight{
		position:absolute;
		top: 0.5%;
		left:95%;
		font-size: 26px;
		cursor: pointer;
		border: none;
		cursor: pointer;
		z-index: 2;
	}

    .saveIdentificationsDarkEnabled, 
	.saveIdentificationsDarkDisabled, 
	.saveIdentificationsLightEnabled, 
	.saveIdentificationsLightDisabled,
	.closeIdentificationsDark,
	.closeIdentificationsLight{
		position:relative;
		cursor:pointer;
		top:-1%;
		border: none;
		padding: 2px 3px 3px 5px;
		border-radius: 40px;	
		height:3%;
		width:10%;
		top:-2.5%;
		font-size: 14px;
	}

	.saveIdentificationsDarkEnabled
	.saveIdentificationsDarkDisabled,
    .saveIdentificationsLightEnabled,
    .saveIdentificationsLightDisabled{
	    left:74%;
	}

	.closeIdentificationsDark,
	.closeIdentificationsLight {
	    left:76%;
	}

	.closeModalDark, 
	.closeModalLight{
		position:absolute;
		top: 0%;
		left:95%;
		font-size: 26px;
		cursor: pointer;
		border: none;
		cursor: pointer;
		z-index: 2;
	}

}

@media screen and (max-width: 1536px) and (max-height: 864px){
    
    .modalGetPredictionsHeaderDark, 
    .modalGetPredictionsHeaderLight{
        position:relative;
        width:100%;
        height:40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }
        
    .lblHeadingDark,
    .lblHeadingLight{
        font-size: 28px;
        font-weight: bold;
        padding-top:2px;
        text-align: center;
    }

    .lblReferencePlantNameDark, 
	.lblReferencePlantNameLight{
		position: absolute;
		left:24%;
		top:-2%;
		font-size: 15px;
		font-weight: bold;
	}	

	.ReferencePlantNameDark, 
	.ReferencePlantNameLight{
		position: absolute;
		width:43%;
		left:36%;
		top:-2%;
		font-size: 15px;
		padding:4px 7px 4px 7px;
		border-radius:4px;
		text-align: left;
	}	

	.lblDescriptionDark, 
	.lblDescriptionLight{
		position: absolute;
		left:24%;
		text-align: right;
		top:23%;
		font-size: 15px;
		font-weight: bold;
	}	

	.DescriptionDark, 
	.DescriptionLight{
		position: absolute;
		left:36%;
		top:23%;
		height:61%;
		font-size: 15px;
		padding:4px 7px 4px 7px;
		border-radius:4px;
		width:43%;
		text-align: justify;
		overflow:auto;
	}

	.saveIdentificationsDarkEnabled
	.saveIdentificationsDarkDisabled,
    .saveIdentificationsLightEnabled,
    .saveIdentificationsLightDisabled{
	    left:74%;
	}

	.closeIdentificationsDark,
	.closeIdentificationsLight {
	    left:76%;
	}

	.closeModalDark, 
	.closeModalLight{
		position:absolute;
		top: 0%;
		left:95%;
		font-size: 26px;
		cursor: pointer;
		border: none;
		cursor: pointer;
		z-index: 2;
	}

}

@media screen and (max-width: 1440px) and (max-height: 900px){
    
    .modalGetPredictionsHeaderDark, 
    .modalGetPredictionsHeaderLight{
        position:relative;
        width:100%;
        height:40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }
    
    .IdentificationListOuterDark, 
	.IdentificationListOuterLight{
		position:relative;
		height:15vh;
		border-radius:10px;
		width:95%;
		list-style-type: none;
		margin-left:1%;
		margin-top: 6vh;
	}
    
    .lblReferencePlantNameDark, 
	.lblReferencePlantNameLight{
		position: absolute;
		left:23%;
		top:-2%;
		font-size: 14px;
		font-weight: bold;
	}	

	.ReferencePlantNameDark, 
	.ReferencePlantNameLight{
		position: absolute;
		width:43%;
		left:35%;
		top:-3%;
		font-size: 14px;
		padding:4px 7px 4px 7px;
		border-radius:4px;
		text-align: left;
	}	

	.lblDescriptionDark, 
	.lblDescriptionLight{
		position: absolute;
		left:23%;
		text-align: right;
		top:23%;
		font-size: 14px;
		font-weight: bold;
	}	

	.DescriptionDark, 
	.DescriptionLight{
		position: absolute;
		left:35%;
		top:23%;
		height:61%;
		font-size: 14px;
		padding:4px 7px 4px 7px;
		border-radius:4px;
		width:43%;
		text-align: justify;
		overflow:auto;
	}

	.ThumbnailPlantImage{
		position: absolute;
		left:1%;
		top:0.8vh;
		width:20%;
		height:90%;
		border-radius: 15px;
	}

	

    .closeModalDark, 
	.closeModalLight{
		position:absolute;
		top: 0.5%;
		left:95%;
		font-size: 26px;
		cursor: pointer;
		border: none;
		cursor: pointer;
		z-index: 2;
	}

    .saveIdentificationsDarkEnabled, 
	.saveIdentificationsDarkDisabled, 
	.saveIdentificationsLightEnabled, 
	.saveIdentificationsLightDisabled,
	.closeIdentificationsDark,
	.closeIdentificationsLight{
		position:relative;
		cursor:pointer;
		top:-1%;
		border: none;
		padding: 2px 3px 3px 5px;
		border-radius: 40px;	
		height:3%;
		width:10%;
		top:-2%;
		font-size: 15px;
	}

	.saveIdentificationsDarkEnabled
	.saveIdentificationsDarkDisabled,
    .saveIdentificationsLightEnabled,
    .saveIdentificationsLightDisabled{
	    left:74%;
	}

	.closeIdentificationsDark,
	.closeIdentificationsLight {
	    left:76%;
	}

	.closeModalDark, 
	.closeModalLight{
		position:absolute;
		top: 0%;
		left:95%;
		font-size: 26px;
		cursor: pointer;
		border: none;
		cursor: pointer;
		z-index: 2;
	}

}








@media screen and (max-width: 1366px) and (max-height: 768px){
	
	.modalOuterDark, 
	.modalOuterLight{
		display:inline-flexbox;
		height: 95%;
		top:-1%;
		width:50%;
		position: relative;
		left:23%;
		border-radius: 15px;
	}	
	
	.modalOuterDark .iconGetIdentificationsError, 
	.modalOuterLight .iconGetIdentificationsError{
		position: relative;
		left:44%;
		top:23vh;
	}

    .modalGetPredictionsHeaderDark, 
    .modalGetPredictionsHeaderLight{
        position:relative;
        width:100%;
        height:40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }
    
    .lblHeadingDark{
        font-size: 28px;
        color:white;
        padding-top:2px;
        text-align: center;
    }
    
    .modalOuterDark .lblGetIdentificationsErrorDark, 
	.modalOuterLight .lblGetIdentificationsErrorLight{
		position: relative;
		font-size: 18px;
		text-align: center;
		top:22vh;
	}
	
	 .modalDataDark, 
	 .modalDataLight{
		top:0%;
		left:0%;
		position: relative;
		height:69%;
		overflow-y:scroll;
	}
	
	.Identifications{
		position:relative;
		top:-2vh;
	}
	
	.IdentificationListOuterDark, 
	.IdentificationListOuterLight{
		position:relative;
		height:15.5vh;
		border-radius:10px;
		width:95%;
		list-style-type: none;
		margin-left:1%;
		margin-top: 5.5vh;
	}

	.lblReferencePlantNameDark, 
	.lblReferencePlantNameLight{
		position: absolute;
		left:24%;
		top:-4%;
		font-size: 14px;
		font-weight: bold;
	}

	

	 .ReferencePlantNameDark, 
	 .ReferencePlantNameLight{
		position: absolute;
		width:39%;
		left:38%;
		top:-4%;
		font-size: 13px;
		padding:3px 3px 3px 3px;
		border-radius:4px;
	}
	
	.lblDescriptionDark, 
	.lblDescriptionLight{
		position: absolute;
		left:24%;
		text-align: left;
		top:24%;
		font-size: 14px;
		font-weight: bold;
	}

	.DescriptionDark,
	.DescriptionLight{
		position: absolute;
		left:38%;
		top:23%;
		height:61%;
		font-size: 13px;
		padding:3px 3px 3px 3px;
		border-radius:4px;
		width:39%;
		text-align: justify;
		overflow:auto;
	}
	
	.ThumbnailPlantImage{
		position: absolute;
		left:1%;
		top:0.8vh;
		width:20%;
		height:90%;
		border-radius: 15px;
	}

	.saveIdentificationsDarkEnabled, 
	.saveIdentificationsDarkDisabled, 
	.saveIdentificationsLightEnabled, 
	.saveIdentificationsLightDisabled,
	.closeIdentificationsDark,
	.closeIdentificationsLight{
		position:relative;
		cursor:pointer;
		top:-1%;
		border: none;
		padding: 1px 3px 3px 5px;
		border-radius: 40px;	
		height:3%;
		width:10%;
		top:-2%;
		font-size: 14px;
	}

	.saveIdentificationsDarkEnabled
	.saveIdentificationsDarkDisabled,
    .saveIdentificationsLightEnabled,
    .saveIdentificationsLightDisabled{
	    left:74%;
	}

	.closeIdentificationsDark,
	.closeIdentificationsLight {
	    left:76%;
	}

	.closeModalDark, 
	.closeModalLight{
		position:absolute;
		top: 0%;
		left:95%;
		font-size: 26px;
		cursor: pointer;
		border: none;
		cursor: pointer;
		z-index: 2;
	}
}


@media screen and (max-width: 1280px) and (max-height: 720px){
    
    .modalGetPredictionsHeaderDark, 
    .modalGetPredictionsHeaderLight{
        position:relative;
        width:100%;
        height:40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }
        
    .lblHeadingDark,
    .lblHeadingLight{
        font-size: 28px;
        font-weight: bold;
        padding-top:2px;
        text-align: center;
    }

    .saveIdentificationsDarkEnabled, 
	.saveIdentificationsDarkDisabled, 
	.saveIdentificationsLightEnabled, 
	.saveIdentificationsLightDisabled,
	.closeIdentificationsDark,
	.closeIdentificationsLight{
		position:relative;
		cursor:pointer;
		top:-1%;
		border: none;
		padding: 2px 3px 3px 5px;
		border-radius: 40px;	
		height:3%;
		width:10%;
		top:-2.5%;
		font-size: 14px;
	}

	.saveIdentificationsDarkEnabled
	.saveIdentificationsDarkDisabled,
    .saveIdentificationsLightEnabled,
    .saveIdentificationsLightDisabled{
	    left:74%;
	}

	.closeIdentificationsDark,
	.closeIdentificationsLight {
	    left:76%;
	}

	.closeModalDark, 
	.closeModalLight{
		position:absolute;
		top: 0.5%;
		left:95%;
		font-size: 24px;
		cursor: pointer;
		border: none;
		cursor: pointer;
		z-index: 2;
	}

}

