.RecentSearchesImagesContainerDark, 
.RecentSearchesImagesContainerLight{
	position:absolute;
	top:2vh;
	right:1%;
	height:96vh;
	width:21%;
	text-align: center;
	border-radius: 20px;
}

.RecentSearchesImagesContainerLight{
	background-color:#91dcff;
}

.RecentSearchesImagesContainerDark{
	background-color:#393E46;
}

.iconHistoryLight i {
    color: 	rgb(15, 19, 233);
}

.iconHistoryDark i{
    color: 	#6EB6FF;
}

.RecentSearchesHeadingLight{
    color:#181825;
}

.RecentSearchesHeadingDark{
    color: 	white;
}

.hdrUnderlineLight{
    background-color: #1b6eeb;
}

.hdrUnderlineDark{
    background-color:rgb(93, 101, 107);
}

.iconRecentSearchesError{
    color:rgb(218, 2, 2);
}

.lblRecentSearchesErrorLight{
    color:#181825;
}

.lblRecentSearchesErrorDark{
    color:white;
}

.RecentSearchesListItemPlaceHolderDark, 
.RecentSearchesListItemDark{
    background-color: #5d6b72;
    box-shadow: 4px 4px 6px rgb(34,40,49)
}

.RecentSearchesListItemPlaceHolderLight, 
.RecentSearchesListItemLight{
    background-color: #93bcfa;
    box-shadow: 4px 4px 6px rgb(25, 138, 182);
}

.lblRecentSearchesPlantLight{
    color:#181825;
}

.lblRecentSearchesPlantDark{
    color:white;
}

.RecentSearchesPlantLight{
    background-color: #91dcff;
    color:#181825;
}

.RecentSearchesPlantDark{
    background-color: #7e8183;
    color:white;
}

.lblRecentSearchesScoreLight{
    color:#181825;
}

.lblRecentSearchesScoreDark{
    color:white;
}

.RecentSearchesScoreLight{
    background-color:#91dcff;
    color:#181825;
}	

.RecentSearchesScoreDark{
    background-color: #7e8183;
    color:white;
}

.lblRecentSearchesDateLight{
    color:#181825;
}

.lblRecentSearchesDateDark{
    color:white;
}

.RecentSearchesDateLight{
    background-color: #91dcff;
    color:#181825;
}

.RecentSearchesDateDark{
    background-color: #7e8183;
    color:white;
}

.lblNoSearchDataLight{
    color:#181825;
}

.lblNoSearchDataDark{
    color:white;
}



@media screen and (max-width: 2560px) and (max-height: 1600px){
	  
	.RecentSearches{
        text-align: center;
        position:relative;
        top:23%;
        display: inline-block;
        margin: 0;
        padding: 0;
        width:92%;
    }
    
    .iconHistoryDark i, 
	.iconHistoryLight i{
		position:absolute;
		top:3%;
		left:13%;
	}
		
	.RecentSearchesHeadingDark, 
	.RecentSearchesHeadingLight{
		position: absolute;
		top:0.2%;
		font-size: 42px;
		left:26%;
	}
	
	.hdrUnderlineDark, 
	.hdrUnderlineLight{
		position:relative;
		margin: auto;
		width: 85%;
		height:0.5%;
		top:7%;
	}

	.iconRecentSearchesError{
		position: relative;
		top:40vh;
	}

	.lblRecentSearchesErrorDark, 
	.lblRecentSearchesErrorLight{
		position: relative;
		font-size: 38px;
		top:40vh;
	}

	.RecentSearchesListItemPlaceHolderDark, 
	.RecentSearchesListItemPlaceHolderLight,
	.RecentSearchesListItemDark, 
	.RecentSearchesListItemLight{
		position:relative;
		height:18vh;
		margin-top: 13%;
		border-radius:15px;
		list-style-type: none;
		padding-top:1px;
    }

	.RecentSearchesListItemPlaceHolderDark, 
	.RecentSearchesListItemPlaceHolderLight{	
		top:-15vh;
	}

	.RecentSearchesListItemDark, 
	.RecentSearchesListItemLight{	
		top:-80.8vh;
	}

	.RecentSearchesImage{
		position: absolute;
		padding: 14px;
		left:0vw;
		top:0vh;
		width:60%;
		height:100%;
		border-radius: 25px;
	}
		
	.lblRecentSearchesPlantDark, 
	.lblRecentSearchesPlantLight{
		position:relative;
		font-size: 22px;
		left:25.5%;
		top:1%;
		font-weight:bold;
	}

	.RecentSearchesPlantDark, 
	.RecentSearchesPlantLight{
		position:relative;
		font-size: 22px;
		top:-6%;
		left:61%;
		width:35%;
		text-align: left;
		padding:3px;
	}

	.lblRecentSearchesScoreDark, 
	.lblRecentSearchesScoreLight{
		position:relative;
		font-size: 22px;
		left:16.5%;
		top:-5%;
		font-weight:bold;
	}

	.RecentSearchesScoreDark, 
	.RecentSearchesScoreLight{
		position:relative;
		font-size: 22px;
		top:-12%;
		left:61%;
		width:35%;
		text-align: left;
		padding:3px;
	}	

	.lblRecentSearchesDateDark, 
	.lblRecentSearchesDateLight{
		position:relative;
		font-size: 22px;
		left:22%;
		top:-11%;
		font-weight:bold;
	}

	.RecentSearchesDateDark, 
	.RecentSearchesDateLight{
		position:relative;
		font-size: 22px;
		top:-18%;
		left:61%;
		width:35%;
		text-align: left;
		padding:3px;
	}

	.lblNoSearchDataDark, 
	.lblNoSearchDataLight{
		position:relative;
		font-size: 22px;
		top:42%;
		font-weight: bold;
		margin:auto;
		width:35%;
	}
}


@media screen and (max-width: 2560px) and (max-height: 1440px){
	  
    .RecentSearches{
        text-align: center;
        position:relative;
        top:21%;
        display: inline-block;
        margin: 0;
        padding: 0;
        width:92%;
    }
    
    .RecentSearchesListItemPlaceHolderDark, 
	.RecentSearchesListItemPlaceHolderLight{	
		top:-13.5vh;
	}

    .iconHistoryDark i, 
	.iconHistoryLight i{
		position:absolute;
		top:2.7%;
		left:16%;
	}

    .RecentSearchesHeadingDark, 
	.RecentSearchesHeadingLight{
		position: absolute;
		top:0%;
		font-size: 38px;
		left:29%;
	}

	.RecentSearchesImage{
		position: absolute;
		padding: 14px;
		left:0vw;
		top:0vh;
		width:60%;
		height:100%;
		border-radius: 25px;
	}
		
	.lblRecentSearchesPlantDark, 
	.lblRecentSearchesPlantLight{
		position:relative;
		font-size: 22px;
		left:25.5%;
		top:-3%;
		font-weight:bold;
	}

	.RecentSearchesPlantDark, 
	.RecentSearchesPlantLight{
		position:relative;
		font-size: 22px;
		top:-10%;
		left:61%;
		width:35%;
		text-align: left;
		padding:3px;
	}

	.lblRecentSearchesScoreDark, 
	.lblRecentSearchesScoreLight{
		position:relative;
		font-size: 22px;
		left:16.5%;
		top:-11%;
		font-weight:bold;
	}

	.RecentSearchesScoreDark, 
	.RecentSearchesScoreLight{
		position:relative;
		font-size: 22px;
		top:-19%;
		left:61%;
		width:35%;
		text-align: left;
		padding:3px;
	}	

	.lblRecentSearchesDateDark, 
	.lblRecentSearchesDateLight{
		position:relative;
		font-size: 22px;
		left:23%;
		top:-18%;
		font-weight:bold;
	}

	.RecentSearchesDateDark, 
	.RecentSearchesDateLight{
		position:relative;
		font-size: 22px;
		top:-26%;
		left:61%;
		width:35%;
		text-align: left;
		padding:3px;
	}

	.lblNoSearchDataDark, 
	.lblNoSearchDataLight{
		position:relative;
		font-size: 22px;
		top:42%;
		font-weight: bold;
		margin:auto;
		width:35%;
	} 
}

@media screen and (max-width: 1920px) and (max-height: 1080px){
	 
    .RecentSearches{
        text-align: center;
        position:relative;
        top:10%;
        display: inline-block;
        margin: 0;
        padding: 0;
        width:92%;
    }

	.iconHistoryDark i, 
	.iconHistoryLight i{
		position:absolute;
		top:2%;
		left:12%;
	}
		
	.RecentSearchesHeadingDark, 
	.RecentSearchesHeadingLight{
		position: absolute;
		top:-1%;
		font-size: 32px;
		left:27%;
	}
	
	.hdrUnderlineDark, 
	.hdrUnderlineLight{
		position:relative;
		margin: auto;
		width: 85%;
		height:0.5%;
		top:8%;
	}

	.iconRecentSearchesError{
		position: relative;
		top:40vh;
	}

	.lblRecentSearchesErrorDark, 
	.lblRecentSearchesErrorLight{
		position: relative;
		font-size: 20px;
		top:40vh;
	}

	.RecentSearchesListItemPlaceHolderDark, 
	.RecentSearchesListItemPlaceHolderLight,
	.RecentSearchesListItemDark, 
	.RecentSearchesListItemLight{
		position:relative;
		height:22vh;
		margin-top: 15%;
		border:none;
		border-radius:15px;
		list-style-type: none;
		padding-top:1px;
	}

	.RecentSearchesListItemPlaceHolderDark, 
	.RecentSearchesListItemPlaceHolderLight{	
		top:-2.3vh;
	}

	.RecentSearchesListItemDark, 
	.RecentSearchesListItemLight{	
		top:-85.8vh;
	}

	.RecentSearchesImage{
		position: absolute;
		padding: 10px;
		left:0vw;
		top:0vh;
		width:60%;
		height:100%;
		border-radius: 25px;
	}
		
	.lblRecentSearchesPlantDark, 
	.lblRecentSearchesPlantLight{
		position:relative;
		font-size: 16px;
		left:25.5%;
		top:1%;
		font-weight:bold;
	}

	.RecentSearchesPlantDark, 
	.RecentSearchesPlantLight{
		position:relative;
		font-size: 16px;
		top:-6%;
		left:61%;
		width:35%;
		text-align: left;
		padding:3px;
	}

	.lblRecentSearchesScoreDark, 
	.lblRecentSearchesScoreLight{
		position:relative;
		font-size: 16px;
		left:16.5%;
		top:-5%;
		font-weight:bold;
	}

	.RecentSearchesScoreDark, 
	.RecentSearchesScoreLight{
		position:relative;
		font-size: 16px;
		top:-12%;
		left:61%;
		width:35%;
		text-align: left;
		padding:3px;
	}	

	.lblRecentSearchesDateDark, 
	.lblRecentSearchesDateLight{
		position:relative;
		font-size: 16px;
		left:22%;
		top:-11%;
		font-weight:bold;
	}

	.RecentSearchesDateDark, 
	.RecentSearchesDateLight{
		position:relative;
		font-size: 16px;
		top:-18%;
		left:61%;
		width:35%;
		text-align: left;
		padding:3px;
	}

	.lblNoSearchDataDark, 
	.lblNoSearchDataLight{
		position:relative;
		font-size: 16px;
		top:42%;
		font-weight: bold;
		margin:auto;
		width:35%;
	}
}

@media screen and (max-width: 1366px) and (max-height: 768px){
	
	.iconHistoryDark i, 
	.iconHistoryLight i{
		position:absolute;
		top:1.5%;
		left:9%;
	}
	
	.RecentSearchesHeadingDark, 
	.RecentSearchesHeadingLight{
		position: absolute;
		top:-0.5%;
		font-size: 24px;
		left:28%;
	}

	.hdrUnderlineDark, 
	.hdrUnderlineLight{
		position:relative;
		margin: auto;
		width: 85%;
		height:0.5%;
		top:9%;
	}
	
	.iconRecentSearchesError{
		position: relative;
		top:40vh;
	}

	.lblRecentSearchesErrorDark, 
	.lblRecentSearchesErrorLight{
		position: relative;
		font-size: 16px;
		top:40vh;
	}

	.RecentSearchesListItemPlaceHolderDark, 
	.RecentSearchesListItemPlaceHolderLight,
	.RecentSearchesListItemDark, 
	.RecentSearchesListItemLight{
		position:relative;
		height:22vh;
		margin-top: 15%;
		border:none;
		border-radius:15px;
		list-style-type: none;
	}

	.RecentSearchesListItemPlaceHolderDark, 
	.RecentSearchesListItemPlaceHolderLight{	
		top:-1vh;
	}

	.RecentSearchesListItemDark, 
	.RecentSearchesListItemLight{	
		top:-85.5vh;
	}

	.RecentSearchesImage{
		position: absolute;
		padding: 8px;
		left:0vw;
		top:0vh;
		width:60%;
		height:100%;
		border-radius: 25px;
	}
		
	.lblRecentSearchesPlantDark, 
	.lblRecentSearchesPlantLight{
		position:relative;
		font-size: 12px;
		left:25%;
		top:-1%;
		font-weight: bold;
	}

	.RecentSearchesPlantDark, 
	.RecentSearchesPlantLight{
		position:relative;
		font-size: 12px;
		top:-9%;
		left:60%;
		width:36%;
		padding-left:2px;
		text-align: left;
	}

	.lblRecentSearchesScoreDark, 
	.lblRecentSearchesScoreLight{
		position:relative;
		font-size: 12px;
		left:16%;
		top:-10%;
		font-weight: bold;
	}

	.RecentSearchesScoreDark, 
	.RecentSearchesScoreLight{
		position:relative;
		font-size: 12px;
		top:-18%;
		left:60%;
		width:36%;
		text-align: left;
		padding:1px;
	}	
		
	.lblRecentSearchesDateDark, 
	.lblRecentSearchesDateLight{
		position:relative;
		font-size: 12px;
		left:22%;
		top:-17%;
		font-weight: bold;
	}

	.RecentSearchesDateDark,
	.RecentSearchesDateLight{
		position:relative;
		font-size: 12px;
		top:-25%;
		left:60%;
		width:36%;
		text-align: left;
		padding:1px;
	}

	.lblNoSearchDataDark, 
    .lblNoSearchDataDark{
		position:relative;
		font-size: 12px;
		top:42%;
		font-weight: bold;
		margin:auto;
		width:45%;
	}
}
