.iconError{
    color:red;
}

.SampleImageErrorLight{
    color:#181825;
}

.SampleImageErrorDark{
    color:white;
}

.PlantNameLight{
    color:#181825;
}

.PlantNameDark{
    color:white;
}

.lblSampleImageInstructionDark{
    color:white;
}

.lblSampleImageInstructionLight{
    color:#181825;
}

@media screen and (max-width: 2560px) and (max-height: 1600px){
	
    .SampleImagesContainer{
		position: relative;
		overflow-y: auto;
		height:50vh;
		padding-right:14%;
	}
	
	.iconError{
		position: relative;
		top:10vh;
	}

	.SampleImageErrorDark, 
	.SampleImageErrorLight{
		position: relative;
		display: inline-block;
		font-size: 22px;
		top:10vh;
	}

	.SampleImagesContainer ul{
		text-align: center;
	}

    .lblSampleImageInstructionDark,
    .lblSampleImageInstructionLight{
        position: relative;
        top:1vh;
        font-size: 22px;
    }

	.liSampleImages {
		position: relative;
		display: inline-block;
		padding-bottom:2%;
	}
	
	.SampleImage{
		width:7vw;
		height:10vh;
		border-radius: 15px;
		cursor: pointer;
	}

	.SampleImage:hover{
		position:relative;
		width:8vw;
		height:14vh;
		left:-0.5vw;
	}

	.PlantNameDark, 
	.PlantNameLight{
		position:relative;
		text-align: center;
		top:1vh;
		font-size:22px;
	}
}

@media screen and (max-width: 2560px) and (max-height: 1440px){
	.SampleImagesContainer{
		position: relative;
		overflow-y: auto;
		height:51.5vh;
		padding-right:14%;
	}

    .lblSampleImageInstructionDark,
    .lblSampleImageInstructionLight{
        position: relative;
        top:0.5vh;
        font-size: 22px;
    }

    .liSampleImages {
		position: relative;
		display: inline-block;
		padding-bottom:5%;
		top:-1.2vh;
	}
	
	.PlantNameDark, 
	.PlantNameLight{
		position:relative;
		text-align: center;
		top:1vh;
		font-size:22px;
	}
}

@media screen and (max-width: 1920px) and (max-height: 1200px){
	
    .SampleImagesContainer{
		position: relative;
		overflow-y: auto;
		height:48vh;
		padding-right:14%;
	}
	
	.iconError{
		position: relative;
		top:10vh;
	}

	.SampleImageErrorDark, 
	.SampleImageErrorLight{
		position: relative;
		display: inline-block;
		font-size: 15px;
		top:10vh;
		font-size:15px;
	}

    .lblSampleImageInstructionDark,
    .lblSampleImageInstructionLight{
        position: relative;
        top:1vh;
        font-size: 15px;
    }

	.SampleImagesContainer ul{
		text-align: center;
	}
	
	.liSampleImages {
		position: relative;
		display: inline-block;
		padding-bottom:5%;
		top:-1.2vh;
	}
	
	.SampleImage{
		width:7vw;
		height:10vh;
		border-radius: 15px;
		cursor: pointer;
	}

	.SampleImage:hover{
		position:relative;
		width:8vw;
		height:14vh;
		left:-0.5vw;
	}

	.PlantNameDark, 
	.PlantNameLight{
		position:relative;
		text-align: center;
		top:0.7vh;
		font-size:15px;
	}
}


@media screen and (max-width: 1920px) and (max-height: 1080px){
	
    .SampleImagesContainer{
		position: relative;
		overflow-y: auto;
		height:42vh;
		padding-right:14%;
	}
	
	.iconError{
		position: relative;
		top:10vh;
	}

	.SampleImageErrorDark, 
	.SampleImageErrorLight{
		position: relative;
		display: inline-block;
		font-size: 15px;
		top:10vh;
		font-size:15px;
	}

    .lblSampleImageInstructionDark,
    .lblSampleImageInstructionLight{
        position: relative;
        top:1vh;
        font-size: 15px;
    }

	.SampleImagesContainer ul{
		text-align: center;
	}
	
	.liSampleImages {
		position: relative;
		display: inline-block;
		padding-bottom:5%;
		top:-1.2vh;
	}
	
	.SampleImage{
		width:7vw;
		height:13vh;
		border-radius: 15px;
		cursor: pointer;
	}

	.SampleImage:hover{
		position:relative;
		width:8vw;
		height:14vh;
		left:-0.5vw;
	}

	.PlantNameDark, 
	.PlantNameLight{
		position:relative;
		text-align: center;
		top:0.7vh;
		font-size:15px;
	}
}

@media screen and (max-width: 1366px) and (max-height: 768px){
	
	 .SampleImagesContainer{
		position: relative;
		overflow-y: scroll;
		height:26vh;
		padding-right:22%;
	}
	
	 .iconError{
		position: relative;
		top:8vh;
	}

	 .SampleImageErrorDark, 
	 .SampleImageErrorLight{
		position: relative;
		display: inline-block;
		font-size: 13px;
		top:8vh;
	}

	.SampleImage{
		width:7vw;
		height:12vh;
		border-radius: 15px;
		cursor: pointer;
	}	
	
    .lblSampleImageInstructionDark,
    .lblSampleImageInstructionLight{
        position: relative;
        top:0vh;
        font-size: 10px;
    }

	.SampleImagesContainer ul{
		text-align: center;
	}
		
	.liSampleImages {
		display: inline-block;
		padding-bottom:10%;
	}
	
	.SampleImage:hover{
		width:9vw;
		height:17vh;
		left:-0.5vw;
	}

	.PlantNameDark, 
	.PlantNameLight{
		position:relative;
		text-align: center;
		top:0.5vh;
		font-size: 10px;
	}
}

@media screen and (max-width: 1280px) and (max-height: 720px){
	
    .SampleImagesContainer{
       position: relative;
       overflow-y: scroll;
       height:25vh;
       padding-right:22%;
   }
   
    .iconError{
       position: relative;
       top:8vh;
   }

    .SampleImageErrorDark, 
    .SampleImageErrorLight{
       position: relative;
       display: inline-block;
       font-size: 13px;
       top:8vh;
   }

   .SampleImage{
       width:7vw;
       height:12vh;
       border-radius: 15px;
       cursor: pointer;
   }	
   
   .lblSampleImageInstructionDark,
   .lblSampleImageInstructionLight{
       position: relative;
       top:0vh;
       font-size: 12px;
   }

   .SampleImagesContainer ul{
       text-align: center;
   }
       
   .liSampleImages {
       display: inline-block;
       padding-bottom:10%;
   }
   
   .SampleImage:hover{
       width:9vw;
       height:17vh;
       left:-0.5vw;
   }

   .PlantNameDark, 
   .PlantNameLight{
       position:relative;
       text-align: center;
       top:0.5vh;
       font-size: 12px;
   }
}