

.iconDarkModeDark{
	color: white;
}

.iconDarkModeLight{
	color:#181825;
}

.lblDarkModeLight{
	color:#181825;
}

.lblDarkModeDark{
	color:white;
}

.ToggleDark:hover{
	color: #5795f1;
}

.ToggleLight:hover{
	color: #2da9be;
}

@media screen and (max-width: 2560px) and (max-height: 1600px){
	
	.SettingsContainer{
        position: relative;
        height:3vh;
        width: 100%;
        font-size: 30px;
        text-align:right;
    }

    .lblDarkModeDark, 
	.lblDarkModeLight{
		position:absolute;
		font-size: 22px;
		left:-11%;
	}

	.btnDarkModeToggle{
		position: relative;
		background: transparent;
		border: none !important;
		cursor:pointer;
		top:8%;
        left:-22%;
	}
	
	.DarkModeToggle{
		position: relative;
		left:24%;
		height: 8vh;
	}
}

@media screen and (max-width: 1920px) and (max-height: 1080px){
	
	.SettingsContainer{
        position: relative;
        height:5vh;
        width: 100%;
        font-size: 30px;
        text-align:right;
    }
    
    .lblDarkModeDark, 
	.lblDarkModeLight{
		position:absolute;
		font-size: 15px;
		left:-11%;
	}

	.btnDarkModeToggle{
		position: relative;
		background: transparent;
		border: none !important;
		cursor:pointer;
		top:-0.5vh;
        left:-21%;
	}
	
	.DarkModeToggle{
		position: relative;
		left:24%;
		height: 8vh;
	}
}

@media screen and (max-width: 1366px) and (max-height: 768px){

	.SettingsContainer{
        position: relative;
        height:5vh;
        width: 100%;
        font-size: 30px;
        text-align:right;
    } 
    
    .lblDarkModeDark, 
	 .lblDarkModeLight{
		position:absolute;
		padding:4px;
		font-size: 13px;
		left:-8%;
	}

	 .btnDarkModeToggle{
		position: relative;
		background: transparent;
		border: none !important;
		cursor:pointer;
		left:-21%;
	}

	 .DarkModeToggle{
		position: relative;
		left:26%;
		top:2%;
		height: 3vh;
	}
}