.SidebarItemDark, 
.SidebarItemLight{
	padding:10px;
	transition: background-color .40s;
	width:100%;
}

.SidebarItemDark:hover{
	background-color: #5d6b72
}

.SidebarItemLight:hover{
	background-color:#c7f8ff
}

.SidebarTitleDark, 
.SidebarTitleLight{
	padding: 4px 4px 4px 4px;
}

.SidebarTitleDark{
	color:white;
}

.SidebarTitleLightk{
	color:#181825;
}

.SidebarTitleDark .toggle-btn, 
.SidebarTitleLight .toggle-btn{
	cursor:pointer;
	transition: transform .3s;
	display: inline-block;
}

.SidebarItemDark.Open > .SidebarTitleDark .toggle-btn, 
.SidebarItemLight.Open > .SidebarTitleLight .toggle-btn{
	transform:rotate(180deg);
	display: inline-block;
}

.SidebarTitleDark span i,
.SidebarTitleLight span i{
	display: inline-block;
	width: 38px;
}

.SidebarTitleDark .toggle-btn,
.SidebarTitleLight .toggle-btn{
	cursor:pointer;
	transition: transform .50s;
	display: inline-block;
}

.SidebarContentDark, 
.SidebarContentLight{
	position:relative;
	height:auto;
	width:100%;
}

.SidebarContentDark ul li{
    color:white;
}

.SidebarContentLight ul li{
    color:#181825;
}

.liReportsDark:hover{
    background-color: #5795f1;
}

.liReportsLight:hover{
    background-color: #2da9be;
}

@media screen and (max-width: 2560px) and (max-height: 1600px){

	.SidebarContentDark ul li,
	.SidebarContentLight ul li{
		list-style-type: none;
		font-size:22px;
		width:75%;
	}
		
	.SidebarTitleDark, 
	.SidebarTitleLight{
		display: flex;
		font-size: 28px;
		font-weight:bold;
		width:100%;
		justify-content: space-between;
	}

	.liReportsDark, 
    .liReportsLight{
		cursor: pointer;
		padding: 4px 4px 4px 4px;
	}
}

@media screen and (max-width: 1920px) and (max-height: 1080px){

	.SidebarContentDark ul li,
	.SidebarContentLight ul li{
		list-style-type: none;
		font-size:15px;
		width:65%;
	}
			
	.SidebarTitleDark, 
	.SidebarTitleLight{
		display: flex;
		font-size: 18px;
		font-weight:bold;
		width:100%;
		justify-content: space-between;
	}

	.liReportsDark, .liReportsLight{
		cursor: pointer;
		padding: 4px 4px 4px 4px;
	}
}

@media screen and (max-width: 1366px) and (max-height: 768px){

	 .SidebarContentDark ul li,
	 .SidebarContentLight ul li{
		list-style-type: none;
		font-size:13px;
		width:90%;
	}

	 .SidebarTitleDark, 
	 .SidebarTitleLight{
		display: flex;
		font-size: 15px;
		font-weight:bold;
		width:100%;
		justify-content: space-between;
	}
}

@media screen and ((max-width: 1280px) and (max-height: 720px)),((max-width: 1600px) and (max-height: 900px)){

    .SidebarContentDark ul li,
    .SidebarContentLight ul li{
       list-style-type: none;
       font-size:13px;
       width:100%;
   }

    .SidebarTitleDark, 
    .SidebarTitleLight{
       display: flex;
       font-size: 15px;
       font-weight:bold;
       width:100%;
       justify-content: space-between;
   }
}





















