.SummaryReport{
	position: relative;
	width:100%;
}

.SummaryReport th{
	padding:8px 8px 8px 8px;
	text-align: left;
}

.SummaryReport td{
	padding:4px 4px 4px 8px;
	text-align: left;
}

.SummaryReportHeaderDark th, 
.SummaryReportHeaderDark td{
	color:white;
}

.SummaryReportHeaderLight th, 
.SummaryReportHeaderLight td{
	color:#181825;
}

.SummaryContainer{
	text-align: center;
}

.iconDeleteAll{
    color: red;
}

.tdFirstNameLight, 
.tdSurnameLight, 
.tdDateAddedLight, 
.tdIdentifiedPlantLight,
.tdScoreLight,
.DataCommentsLight{
	color:#181825;
}

.tdFirstNameLight, 
.tdSurnameLight, 
.tdDateAddedLight, 
.tdIdentifiedPlantLight,
.tdScoreLight,
.DataCommentsLight{
	color:white;
}

.SummaryReportRowDark .CommentsOverflowDark {
	color:white;
}

.SummaryReportRowLight .CommentsOverflowLight {
	color:#181825;
}

.SummaryReportHeaderDark{
	background-color:  #354147;
}

.SummaryReportHeaderLight{
	background-color:  #0490bf
}

.DeleteAllRows{
	background: transparent;
	border: none !important;
}
	
.SummaryReportRowDark:nth-child(even){
	background: #354147
}
		
.SummaryReportRowDark:nth-child(odd){
	background: #5b5d5f
}
	
.SummaryReportRowLight:nth-child(odd){
	background: #6bb7da
}
	
.SummaryReportRowLight:nth-child(even){
	background:  #0490bf;
}

.SummaryReportRowDark:hover{
	background-color: #27b0ff;
}

.SummaryReportRowLight:hover{
	background-color: #20a348
}

.lblNoRecordsFoundLight{
	color:#181825;
}

.lblNoRecordsFoundDark{
	color:white;
}
    
@media screen and (max-width: 2560px) and (max-height: 1440px){
			
	.iconDeleteAll{
		position:absolute;
		left:2.4%;
		cursor: pointer;
		top:1vh
	}
}

@media screen and (max-width: 2560px) and (max-height: 1600px){
			
	.SummaryReport th{
		font-size:30px;
		font-weight: bold;
	}
	
	.SummaryReport td{
		font-size:26px;
	}

	.HeaderSelectAllRecords .chkSelectAllRecords{
		position:relative;
		transform: scale(2);
	}
	
	.SummaryReportHeaderDark .HeaderSelectAllRecords, 
	.SummaryReportHeaderLight .HeaderSelectAllRecords{
		width:1%;
		padding-left:16px;
	}

	.SummaryReportRowDark .tdSelectSingleRecordDark,
	.SummaryReportRowLight .tdSelectSingleRecordLight{
		transform: scale(2);
		padding-left:30px;
	}

	.iconDeleteAll{
		position:absolute;
		left:2.4%;
		cursor: pointer;
		top:0.8vh
	}
	
	.HeaderFirstNameDark, 
	.HeaderFirstNameLight,
	.tdFirstNameDark, 
	.tdFirstNameLight{
		width:3%;
	} 

	.HeaderSurnameDark, 
	.HeaderSurnameLight,
	.tdSurnameDark, 
	.tdSurnameLight{
		width:3%;
	} 

	.HeaderDateAddedDark, 
	.HeaderDateAddedLight,
	.tdDateAddedLight, 
	.tdDateAddedDark{
		width:1.5%;
	}

	.HeaderIdentifiedPlantDark, 
	.HeaderIdentifiedPlantLight,
	.tdIdentifiedPlantDark, 
	.tdIdentifiedPlantLight{
		width:1.5%;
	}

	.HeaderScoreDark,
	.HeaderScoreLight,
	.tdScoreDark,
	.tdScoreLight{
		width:1.4%;
	}

	.HeaderCommentsDark, 
	.HeaderCommentsLight,
	.DataCommentsDark,
	.DataCommentsDark{
		width:10%;
	}
	
	.HeaderActionsDark, 
	.HeaderActionsLight{
		width:0.5% !important;
		text-align: center !important;
	}

	.tdActionButtons{
		width:0%;
		text-align: center;
	}
	
	.SummaryReportRowDark .CommentsOverflowDark {
		width:100%;
		height:60px;
		overflow-y: auto;
		text-align: justify;
		padding-right:8px;
	}

	.SummaryReportRowLight .CommentsOverflowLight {
		width:100%;
		height:60px;
		overflow-y: auto;
		
		text-align: justify;
		padding-right:8px;
	}
			
	.lblNoRecordsFoundDark, 
	.lblNoRecordsFoundLight{
		position: relative;
		font-size: 38px;
		text-align: center;
		top:34vh;
		margin: auto;
	}
}

@media screen and (max-width: 1920px) and (max-height: 1080px){
			
	.SummaryReport th{
		font-size:19px;
		font-weight: bold;
	}
	
	.SummaryReport td{
		font-size:17px;
	}

	.HeaderSelectAllRecords .chkSelectAllRecords{
		position:relative;
		transform: scale(1.4);
	}
	
	.SummaryReportHeaderDark .HeaderSelectAllRecords, 
	.SummaryReportHeaderLight .HeaderSelectAllRecords{
		width:1%;
		padding-left:12px;
	}

	.SummaryReportRowDark .tdSelectSingleRecordDark,
	.SummaryReportRowLight .tdSelectSingleRecordLight{
		transform: scale(1.4);
		padding-left:16px;
	}

	.iconDeleteAll{
		position:absolute;
		left:2.4%;
		cursor: pointer;
		top:0.6vh
	}
	
	.HeaderFirstNameDark, 
	.HeaderFirstNameLight,
	.tdFirstNameDark, 
	.tdFirstNameLight{
		width:3%;
	} 

	.HeaderSurnameDark, 
	.HeaderSurnameLight,
	.tdSurnameDark, 
	.tdSurnameLight{
		width:3%;
	} 

	.HeaderDateAddedDark, 
	.HeaderDateAddedLight,
	.tdDateAddedLight, 
	.tdDateAddedDark{
		width:1.5%;
	}

	.HeaderIdentifiedPlantDark, 
	.HeaderIdentifiedPlantLight,
	.tdIdentifiedPlantDark, 
	.tdIdentifiedPlantLight{
		width:1.5%;
	}

	.HeaderScoreDark,
	.HeaderScoreLight,
	.tdScoreDark,
	.tdScoreLight{
		width:1.4%;
	}

	.HeaderCommentsDark, 
	.HeaderCommentsLight,
	.DataCommentsDark,
	.DataCommentsDark{
		width:10%;
	}
	
	.HeaderActionsDark, 
	.HeaderActionsLight{
		width:0.5% !important;
		text-align: center !important;
	}

	.tdActionButtons{
		width:0%;
		text-align: center;
	}
	
	.SummaryReportRowDark .CommentsOverflowDark {
		width:100%;
		height:60px;
		overflow-y: auto;
		text-align: justify;
		padding-right:8px;
	}

	.SummaryReportRowLight .CommentsOverflowLight {
		width:100%;
		height:60px;
		overflow-y: auto;
		
		text-align: justify;
		padding-right:8px;
	}
			
	.lblNoRecordsFoundDark, 
	.lblNoRecordsFoundLight{
		position: relative;
		font-size: 24px;
		text-align: center;
		top:30vh;
		margin: auto;
	}
}

@media screen and (max-width: 1366px) and (max-height: 768px){
	
	.SummaryReport th{
		font-size:16px;
		font-weight: bold;
	}
	
	.SummaryReport td{
		font-size:14px;
	}

	.SummaryReportHeaderDark .HeaderSelectAllRecords, 
	.SummaryReportHeaderLight .HeaderSelectAllRecords{
		width:1.5%;
		padding-left:11px;
	}

	.SummaryReportRowDark .tdSelectSingleRecordDark,
	.SummaryReportRowLight .tdSelectSingleRecordLight{
		transform: scale(1.4);
		padding-left:14px;
	}

	.iconDeleteAll{
		position:absolute;
		left:2.8%;
		cursor: pointer;
		top:0.4vh
	}
	
	.HeaderFirstNameDark, 
	.HeaderFirstNameLight,
	.tdFirstNameDark, 
	.tdFirstNameLight{
		width:3%;
	} 

	.HeaderSurnameDark, 
	.HeaderSurnameLight,
	.tdSurnameDark, 
	.tdSurnameLight{
		width:4%;
	} 

	.HeaderDateAddedDark, 
	.HeaderDateAddedLight,
	.tdDateAddedLight, 
	.tdDateAddedDark{
		width:2.5%;
	}

	.HeaderIdentifiedPlantDark, 
	.HeaderIdentifiedPlantLight,
	.tdIdentifiedPlantDark, 
	.tdIdentifiedPlantLight{
		width:2.5%;
	}

	.HeaderScoreDark,
	.HeaderScoreLight,
	.tdScoreDark,
	.tdScoreLight{
		width:2%;
	}

	.HeaderCommentsDark, 
	.HeaderCommentsLigh,
	.DataCommentsDark,
	.DataCommentsDark {
		width:10%;
	}

	.HeaderActionsDark, 
	.HeaderActionsLight {
		width:1% !important;
		text-align: center !important;
	}

	.tdActionButtons{
		text-align: center;
	}

	.SummaryReportRowDark .CommentsOverflowDark {
		width:100%;
		height:50px;
	    overflow-y: auto;
	}

	.SummaryReportRowLight .CommentsOverflowLight {
		width:100%;
		height:60px;
		overflow-y: auto;
	}
			
	.SummaryReportHeaderDark{
	    background-color:  #354147;
	}

	.lblNoRecordsFoundDark, 
	.lblNoRecordsFoundLight{
		position: relative;
		font-size: 22px;
		text-align: center;
		top:30vh;
	}
}
