* {
	box-sizing: border-box;
  }
     
label {
	padding: 4px 8px 8px 8px;
	display: inline-block;
	font-weight: bold;
}

.AddUserInformationContainerLight {
    background-color:#6cb7fd;
    }

.AddUserInformationContainerDark {
    background-color: #5B6370;
}

.lblUserInformationLight{
    background-color:#5897d3;
       color:#181825;
}

.lblUserInformationDark{
    background-color: #48494b;
    color:white;
}

.lblFirstnameDark, 
.lblSurnameDark, 
.lblCommentsDark{
	color:white;
}

.lblFirstnameLight, 
.lblSurnameLight, 
.lblCommentsLight{
	color:#181825;
}

.inputFirstnameDark, 
.inputSurnameDark, 
.inputCommentsDark{
		background-color: #828586;
		color:white;
}

.inputFirstnameLight, 
.inputSurnameLight, 
.inputCommentsLight{
	background-color: #5897d3;
	color:#181825;
}

@media screen and (max-width: 2560px) and (max-height: 1600px){
    .AddUserInformationContainerDark, 
    .AddUserInformationContainerLight {
        top:-1vh;
        position: relative;
        height:15%;
        margin:auto;
        width:35%;
        border-radius: 15px;
    }
    
    .AddUserInformationDetailDark, 
    .AddUserInformationDetailLight{
        padding-top:10px;
        position: relative;
        height:2%;
        top:0.5vh;
    }
    
    .lblUserInformationDark, 
    .lblUserInformationLight{
        position: relative;
        text-align: center;
        font-size:26px;
        height:3vh;
        font-weight:bold;
        padding-top:6px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width:100%;
    }
         
    .lblFirstnameDark, 
    .lblFirstnameLight {
        position:relative;
        font-size: 20px;
        left:7%;
        width: 20%;
        top:-1.8vh;
    }
        
    .dataFirstnameDark, 
    .dataFirstnameLight {
        position: relative;
        left:32%;
        font-size: 20px;
        top:-3.8vh;
    }
    
    .inputFirstnameDark, 
    .inputFirstnameLight,
    .inputSurnameDark, 
    .inputSurnameLight{
        width: 60%;
        border: none;
        padding:4px;
        font-size: 20px;
        border-radius:4px;
    }
    
    .lblSurnameDark, 
    .lblSurnameLight {
        position:relative;
        font-size: 20px;
        left:9%;
        width: 20%;
        top:-3.2vh;
    }
        
    .dataSurnameDark, 
    .dataSurnameLight {
        position: relative;
        left:32%;
        padding-top:3px;
        top:-5.5vh;
    }
    
    .lblCommentsDark, 
    .lblCommentsLight {
        position:relative;
        font-size: 20px;
        left:5%;
        text-align: right;
        width: 20%;
        top:-5vh;
    }
        
    .dataCommentsDark, 
    .dataCommentsLight {
        position: relative;
        left:32%;
        padding-top:2px;
        top:-7.2vh;
        height:7%;
    }
    
    .inputCommentsDark, 
    .inputCommentsLight{
        width: 60%;
        height:4vh;
        font-family: 'Roboto';
        border: none;
        resize:none;
        padding:4px;
        font-size: 20px;
        border-radius:4px;
    } 
}

@media screen and (max-width: 2560px) and (max-height: 1440px){
            
    .AddUserInformationContainerDark, 
    .AddUserInformationContainerLight {
        top:-0.5vh;
        position: relative;
        height:15%;
        margin:auto;
        width:35%;
        border-radius: 15px;
    }
    
    .lblFirstnameDark, 
    .lblFirstnameLight {
        position:relative;
        font-size: 20px;
        left:5%;
        width: 20%;
        top:-2.2vh;
    }
        
    .dataFirstnameDark, 
    .dataFirstnameLight {
        position: relative;
        left:32%;
        font-size: 20px;
        top:-4.5vh;
    }
    
    .inputFirstnameDark, 
    .inputFirstnameLight,
    .inputSurnameDark, 
    .inputSurnameLight{
        width: 60%;
        border: none;
        padding:4px;
        font-size: 20px;
        border-radius:4px;
    }
    
    .lblSurnameDark, 
    .lblSurnameLight {
        position:relative;
        font-size: 20px;
        left:7%;
        width: 20%;
        top:-4.2vh;
    }
        
    .dataSurnameDark, 
    .dataSurnameLight {
        position: relative;
        left:32%;
        padding-top:3px;
        top:-6.5vh;
    }
    
    .lblCommentsDark, 
    .lblCommentsLight {
        position:relative;
        font-size: 20px;
        left:3%;
        text-align: right;
        width: 20%;
        top:-6vh;
    }
        
    .dataCommentsDark, 
    .dataCommentsLight {
        position: relative;
        left:32%;
        padding-top:2px;
        top:-8.2vh;
        height:7%;
    }
    
    .inputCommentsDark, 
    .inputCommentsLight{
        width: 60%;
        height:3.7vh;
        font-family: 'Roboto';
        border: none;
        resize:none;
        padding:4px;
        font-size: 20px;
        border-radius:4px;
    } 
}


@media screen and (max-width: 1920px) and (max-height: 1080px){
	
	.AddUserInformationContainerDark, 
	.AddUserInformationContainerLight {
		top:-1.2vh;
		position: relative;
		height:21%;
		margin:auto;
		width:35%;
		border-radius: 15px;
	}

	.AddUserInformationDetailDark, 
	.AddUserInformationDetailLight{
		padding-top:10px;
		position: relative;
		height:2%;
		top:-2vh;
	}

	.lblUserInformationDark, 
	.lblUserInformationLight{
		position: relative;
		text-align: center;
		font-size:22px;
		height:4vh;
		font-weight:bold;
		padding-top:6px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		width:100%;
	}
	 
	.lblFirstnameDark, 
	.lblFirstnameLight {
		position:relative;
		font-size: 16px;
		left:5%;
		width: 20%;
		top:0vh;
	}
	
	.dataFirstnameDark, 
	.dataFirstnameLight {
		position: relative;
		left:32%;
		font-size: 16px;
		top:-3vh;
	}

	.inputFirstnameDark, 
	.inputFirstnameLight,
	.inputSurnameDark, 
	.inputSurnameLight{
		width: 60%;
		border: none;
		padding:4px;
		font-size: 15px;
		border-radius:4px;
	}

	.lblSurnameDark, 
	.lblSurnameLight {
		position:relative;
		font-size: 16px;
		left:7%;
		width: 20%;
		top:-2vh;
	}
	
	.dataSurnameDark, 
	.dataSurnameLight {
		position: relative;
		left:32%;
		padding-top:3px;
		top:-5vh;
	}

	.lblCommentsDark, 
	.lblCommentsLight {
		position:relative;
		font-size: 16px;
		left:3%;
		text-align: right;
		width: 20%;
		top:-4vh;
	}
	
	.dataCommentsDark, 
	.dataCommentsLight {
		position: relative;
		left:32%;
		padding-top:2px;
		top:-7vh;
		height:10%;
	}

	.inputCommentsDark, 
	.inputCommentsLight{
		width: 60%;
		height:5vh;
		font-family: 'Roboto';
		border: none;
		resize:none;
		padding:4px;
		font-size: 15px;
		border-radius:4px;
	}
}


@media screen and (max-width: 1600px) and (max-height: 900px){
            
    .AddUserInformationContainerDark, 
    .AddUserInformationContainerLight {
        top:-0.5vh;
		position: relative;
		margin:auto;
		width:35%;
		border-radius: 15px;
    }
	
	.AddUserInformationDetailDark, 
	.AddUserInformationDetailLight{
		padding-top:10px;
		position: relative;
		height:2%;
		top:0vh;
	}

	.lblUserInformationDark, 
	.lblUserInformationLight{
		position: relative;
		text-align: center;
		font-size:20px;
		height:4vh;
		padding-top:4px;
		border-top-left-radius: 15px;
		font-weight:bold;
		border-top-right-radius: 15px;
		width:100%;
	}
	
    .lblFirstnameDark, 
	.lblFirstnameLight {
		position:relative;
		font-size: 14px;
		left:6%;
		top:-2vh;
	}

	.dataFirstnameDark, 
	.dataFirstnameLight {
		position: relative;
		left:35%;
		top:-5vh;
	}

	.inputFirstnameDark, 
	.inputFirstnameLight,
	.inputSurnameDark, 
	.inputSurnameLight{
		width: 57%;
		border: none;
		padding:4px;
		border-radius:4px;
		font-size: 13px;
	}

    .lblSurnameDark, 
	.lblSurnameLight {
		position:relative;
		font-size: 14px;
		left:8%;
		top:-4vh;
	}
	
	.dataSurnameDark, 
	.dataSurnameLight {
		position: relative;
		left:35%;
		padding-top:6px;
		top:-7.5vh;
	}

	.lblCommentsDark, 
	.lblCommentsLight {
		position:relative;
		font-size: 14px;
		left:3.5%;
		text-align: right;
		top:-6.5vh;
	}
	
	.dataCommentsDark, 
	.dataCommentsLight {
		position: relative;
		left:35%;
		padding-top:6px;
		top:-10vh;
	}

	.inputCommentsDark, 
	.inputCommentsLight{
		width: 57%;
		height:5vh;
		border-radius:4px;
		font-size: 13px;
	}
}



@media screen and (max-width: 1440px) and (max-height: 900px){
            
    .AddUserInformationContainerDark, 
    .AddUserInformationContainerLight {
        top:0.5vh;
		position: relative;
		margin:auto;
		width:40%;
		border-radius: 15px;
    }
	
	.AddUserInformationDetailDark, 
	.AddUserInformationDetailLight{
		padding-top:10px;
		position: relative;
		height:2%;
		top:0vh;
	}

	.lblUserInformationDark, 
	.lblUserInformationLight{
		position: relative;
		text-align: center;
		font-size:20px;
		height:4vh;
		padding-top:4px;
		border-top-left-radius: 15px;
		font-weight:bold;
		border-top-right-radius: 15px;
		width:100%;
	}
	
    .lblFirstnameDark, 
	.lblFirstnameLight {
		position:relative;
		font-size: 14px;
		left:7%;
		top:-2.5vh;
	}

	.dataFirstnameDark, 
	.dataFirstnameLight {
		position: relative;
		left:35%;
		top:-5.5vh;
	}

	.inputFirstnameDark, 
	.inputFirstnameLight,
	.inputSurnameDark, 
	.inputSurnameLight{
		width: 57%;
		border: none;
		padding:4px;
		border-radius:4px;
		font-size: 13px;
	}

    .lblSurnameDark, 
	.lblSurnameLight {
		position:relative;
		font-size: 14px;
		left:9%;
		top:-4.5vh;
	}
	
	.dataSurnameDark, 
	.dataSurnameLight {
		position: relative;
		left:35%;
		padding-top:6px;
		top:-8vh;
	}

	.lblCommentsDark, 
	.lblCommentsLight {
		position:relative;
		font-size: 14px;
		left:5%;
		text-align: right;
		top:-7vh;
	}
	
	.dataCommentsDark, 
	.dataCommentsLight {
		position: relative;
		left:35%;
		padding-top:6px;
		top:-10.5vh;
	}

	.inputCommentsDark, 
	.inputCommentsLight{
		width: 57%;
		height:6vh;
		border-radius:4px;
		font-size: 13px;
	}
}


@media screen and (max-width: 1536px) and (max-height: 864px){
	
	.AddUserInformationContainerDark, 
	.AddUserInformationContainerLight{
		top:0vh;
		position: relative;
		margin:auto;
		width:35%;
		border-radius: 15px;
	}
	
	.AddUserInformationDetailDark, 
	.AddUserInformationDetailLight{
		padding-top:10px;
		position: relative;
		height:2%;
		top:-2vh;
	}

	.lblUserInformationDark, 
	.lblUserInformationLight{
		position: relative;
		text-align: center;
		font-size:16px;
		height:4vh;
		padding-top:4px;
		border-top-left-radius: 15px;
		font-weight:bold;
		border-top-right-radius: 15px;
		width:100%;
	}
	
	.lblFirstnameDark, 
	.lblFirstnameLight {
		position:relative;
		font-size: 14px;
		left:6%;
		top:0vh;
	}

	.dataFirstnameDark, 
	.dataFirstnameLight {
		position: relative;
		left:35%;
		top:-3vh;
	}

	.inputFirstnameDark, 
	.inputFirstnameLight,
	.inputSurnameDark, 
	.inputSurnameLight{
		width: 57%;
		border: none;
		padding:4px;
		border-radius:4px;
		font-size: 13px;
	}

    .lblSurnameDark, 
	.lblSurnameLight {
		position:relative;
		font-size: 14px;
		left:8%;
		top:-2.5vh;
	}
	
	.dataSurnameDark, 
	.dataSurnameLight {
		position: relative;
		left:35%;
		padding-top:6px;
		top:-6vh;
	}

	.lblCommentsDark, 
	.lblCommentsLight {
		position:relative;
		font-size: 14px;
		left:4%;
		text-align: right;
		top:-5.5vh;
	}
	
	.dataCommentsDark, 
	.dataCommentsLight {
		position: relative;
		left:35%;
		padding-top:6px;
		top:-9vh;
	}

	.inputCommentsDark, 
	.inputCommentsLight{
		width: 57%;
		height:6vh;
		border-radius:4px;
		font-size: 13px;
	}
}

@media screen and (max-width: 1366px) and (max-height: 768px){
	
	.AddUserInformationContainerDark, 
	.AddUserInformationContainerLight{
		top:0vh;
		position: relative;
		margin:auto;
		width:40%;
		border-radius: 15px;
	}
	
	.AddUserInformationDetailDark, 
	.AddUserInformationDetailLight{
		padding-top:10px;
		position: relative;
		height:2%;
		top:-2vh;
	}

	.lblUserInformationDark, 
	.lblUserInformationLight{
		position: relative;
		text-align: center;
		font-size:16px;
		height:4vh;
		padding-top:4px;
		border-top-left-radius: 15px;
		font-weight:bold;
		border-top-right-radius: 15px;
		width:100%;
	}
	
	.lblFirstnameDark, 
	.lblFirstnameLight {
		position:relative;
		font-size: 14px;
		left:6%;
		top:-0.5vh;
	}

	.dataFirstnameDark, 
	.dataFirstnameLight {
		position: relative;
		left:35%;
		top:-4vh;
	}

	.inputFirstnameDark, 
	.inputFirstnameLight,
	.inputSurnameDark, 
	.inputSurnameLight{
		width: 57%;
		border: none;
		padding:4px;
		border-radius:4px;
		font-size: 13px;
	}

    .lblSurnameDark, 
	.lblSurnameLight {
		position:relative;
		font-size: 14px;
		left:8%;
		top:-3.5vh;
	}
	
	.dataSurnameDark, 
	.dataSurnameLight {
		position: relative;
		left:35%;
		padding-top:6px;
		top:-7.5vh;
	}

	.lblCommentsDark, 
	.lblCommentsLight {
		position:relative;
		font-size: 14px;
		left:4%;
		text-align: right;
		top:-6.5vh;
	}
	
	.dataCommentsDark, 
	.dataCommentsLight {
		position: relative;
		left:35%;
		padding-top:6px;
		top:-10.5vh;
	}

	.inputCommentsDark, 
	.inputCommentsLight{
		width: 57%;
		height:5vh;
		border-radius:4px;
		font-size: 13px;
	}
}


@media screen and (max-width: 1280px) and (max-height: 720px){
            
    .AddUserInformationContainerDark, 
    .AddUserInformationContainerLight {
        top:-0.5vh;
		position: relative;
		margin:auto;
		width:40%;
		border-radius: 15px;
    }
	
	.AddUserInformationDetailDark, 
	.AddUserInformationDetailLight{
		padding-top:10px;
		position: relative;
		height:2%;
		top:0vh;
	}

	.lblUserInformationDark, 
	.lblUserInformationLight{
		position: relative;
		text-align: center;
		font-size:16px;
		height:4vh;
		padding-top:4px;
		border-top-left-radius: 15px;
		font-weight:bold;
		border-top-right-radius: 15px;
		width:100%;
	}
	
    .lblFirstnameDark, 
	.lblFirstnameLight {
		position:relative;
		font-size: 13px;
		left:5.5%;
		top:-2.5vh;
	}

	.dataFirstnameDark, 
	.dataFirstnameLight {
		position: relative;
		left:35%;
		top:-6vh;
	}

	.inputFirstnameDark, 
	.inputFirstnameLight,
	.inputSurnameDark, 
	.inputSurnameLight{
		width: 57%;
		border: none;
		padding:4px;
		border-radius:4px;
		font-size: 13px;
	}

    .lblSurnameDark, 
	.lblSurnameLight {
		position:relative;
		font-size: 13px;
		left:8.5%;
		top:-5vh;
	}
	
	.dataSurnameDark, 
	.dataSurnameLight {
		position: relative;
		left:35%;
		padding-top:6px;
		top:-9.5vh;
	}

	.lblCommentsDark, 
	.lblCommentsLight {
		position:relative;
		font-size: 13px;
		left:3.5%;
		text-align: right;
		top:-8.5vh;
	}
	
	.dataCommentsDark, 
	.dataCommentsLight {
		position: relative;
		left:35%;
		padding-top:6px;
		top:-13vh;
	}

	.inputCommentsDark, 
	.inputCommentsLight{
		width: 57%;
		height:5vh;
		border-radius:4px;
		font-size: 13px;
	}
}